html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-size: contain;
    background-attachment: fixed;
    font-family: sans-serif;
}

.header {
  text-align: left;
}

#main-content {
  text-align: center;
  width: 80%;
  margin-bottom: 1em;
}

h1 {
    text-shadow: 2px 2px 2px #000;
    display: inline-block;
    font-size: 3em;
    line-height: 1.3em;
    margin:0;
    margin-left: 10px;
    vertical-align: top;
}


.header-logo {
  display: inline-block;
  height: 4em;
  vertical-align: top;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

ul li {
    list-style: none;
    width: 20%;
    margin: 0 1%;
    padding: 1em;
    display: inline-block;
    cursor: pointer;
}

.btn {
    color: white;
    background-color: #C62828;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 1.2em;
    cursor: pointer;
    transition: all .2s ease-in-out;
    min-width: 75px;
}

.btn:hover {
    transform: scale(1.05);
}


  .header {
    margin-top: 3em;
  }
}

.p {
    position: relative;
}


/*************
Tabs
**************/

/*** Style the list ***/
div.workoutTab {
    list-style-type: none;
    width: 50%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    border: -1px /*** solid #ccc *** removed ***/;
    background-color: #009115;
}

/* Float the list items side by side */
div.workoutTab li {
    margin: auto;
    float: left;
}

/* Style the links inside the list items */
div.workoutTab li a {
    display: inline-block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
div.workoutTab li a:hover {background-color: #28ff48;}

/* Create an active/current tablink class */
div.workoutTab li a:focus, .active {background-color: #28ff48;}

/* Style the tab content */
.tabcontent {
    display: none;
    width: 50%;
    margin: auto;
    padding: 6px 12px;
    border: 1px ; /* solid #ccc *** removed ***/
    border-top: none;
}