/************************
Increase/Decrease weight
************************/
button {
    color: #fff;
    background-color: #00BFFF;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s ease-in-out;
    min-width: 25px;
}

#btnDecrease, #btnIncrease  {
    background-color: #FF0000;
}

#btnIncrease:hover, #btnDecrease:hover {
    transform: scale(1.05);
}

/*****************
Weight display:
*****************/

#displayWeight {
    width: 50%;
    margin: auto;
    position: relative;
}

#weight {
    background-color: #fff;
    border: none;
}

/***********************
Workout button content:
***********************/

.workoutButton{
    width: 50%;
    margin: auto;
    position: relative;
    left: -10px;
    text-align: left;
    padding: 6px 12px;
    border: 1px ;
    border-top: none;
}

button.active {
    background-color: #28ff48;
}

button.disabled {
  background: #eee;
  color: #aaa;
}

/***********************
Rep Button
***********************/

#repButton.active {
    background-color: #C62828;
}

#repButton {
    color: white;
    background-color: #A9A9A9;
    margin: auto;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;

}

#reps {
    width: 50%;
    margin: auto;
    position: relative;
    left: -10px;
    text-align: left;
    padding: 6px 12px;
    border: 1px ;
    border-top: none;
}

/***********************
Workout Button SCSS
***********************/

$base: #F8E1C2;
$button: #3D3240;
$button-active: #FF735C;
$margin: 40px;

.buttonContent {
  border: none;
  padding: 14px;
  color: #fff;
  margin: 0 10px;
  background: $button;
  font-weight: 700;
  border-radius: 4px;
}
.active {
  background: $button-active;
}
.disabled {
  background: #eee;
  color: #aaa;
}
